<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyle.aigf.dao.FocusProcessRecordMapper">

    <select id="getTopKGroupedDuration"
            resultType="com.kyle.aigf.model.vo.ProcessDurationAggregateVO">
        SELECT
        f.process_name,
        SUM(f.duration_seconds) AS durationSeconds,
        COALESCE(p.nickname, '') AS nickname
        FROM focus_process_record f
        LEFT JOIN process_info p ON f.process_name = p.process_name
        WHERE
        DATETIME(f.start_time) > DATETIME(#{startTime})
        AND DATETIME(f.update_time) &lt; DATETIME(#{endTime})
        GROUP BY f.process_name
        HAVING durationSeconds > #{minDurationSeconds}
        ORDER BY durationSeconds DESC;
    </select>

    <select id="selectProcessDurationWithNickname" resultType="com.kyle.aigf.model.vo.ProcessDurationVO">
        SELECT
        f.process_name,
        f.duration_seconds AS durationSeconds,
        COALESCE(p.nickname, '') AS nickname,
        f.start_time,
        f.update_time
        FROM focus_process_record f
        LEFT JOIN process_info p ON f.process_name = p.process_name
        WHERE DATETIME(f.start_time) > DATETIME(#{startTime})
        AND DATETIME(f.update_time) &lt; DATETIME(#{endTime})
        ORDER BY f.duration_seconds DESC
        LIMIT #{topK}
    </select>
    <select id="findRange" resultType="com.kyle.aigf.model.vo.ProcessDurationVO">
        SELECT
        f.process_name,
        f.duration_seconds AS durationSeconds,
        COALESCE(p.nickname, '') AS nickname,
        f.start_time,
        f.update_time
        FROM focus_process_record f
        LEFT JOIN process_info p ON f.process_name = p.process_name
        WHERE DATETIME(f.start_time) > DATETIME(#{startTime})
        AND DATETIME(f.update_time) &lt; DATETIME(#{endTime})
        ORDER BY f.id ASC
    </select>
</mapper>